@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/font-mixins" as *;
@use "../../styles/partials/colors";

.context-menu {
  position: absolute;
  z-index: 10;
  background-color: colors.$secondary-dark;
  color: colors.$primary-light;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);
  overflow: hidden;
  min-width: 13rem;

  &.not-active {
    display: none;
  }

  &.active {
    display: block;
  }

  &__node {
    @include context-menu;
    color: colors.$primary-gray;
    border: none;
    display: block;
    padding: 0.5em;
    text-align: left;
    width: 100%;
    padding: 0.55rem 0.75rem;
    cursor: default;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }

  &__btn {
    @extend .context-menu__node;
    cursor: pointer;
    border-bottom: none;

    &:hover {
      background-color: rgba(255, 255, 255, 0.08);
      color: colors.$primary-light;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.12);
    }
  }
}