@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/font-mixins" as *;
@use "../../styles/partials/colors";

.def {
  max-width: 40rem;
  padding: 1.25rem;
  border-radius: var(--radius-lg);

  &__word {
    @include sub-header;
    font-size: 3.5rem;
  }

  &__wrapper {
    margin-top: 1.5rem;
  }

  &__subtitle {
    @include sub-header;
    margin-bottom: 0.6rem;
  }

  &__meaning {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    list-style-type: square;
  }
}