@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/font-mixins" as *;
@use "../../styles/partials/colors";

.new-project {
  @include flex(row, flex-end);
  margin-bottom: 1rem;
  width: 100%;

  &__btn {
    @include secondary-btn;
    @include cta-btn;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-lg);
  }
}

.dashboard-main {
  @include flex(row, space-between, flex-start);
  max-height: 100%;
  width: 100%;
  gap: 1rem;

  &__nav {
    @include flex(column, flex-start, flex-start);
    background-color: colors.$primary-light;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-lg);
    height: 80vh;
    padding: 1rem 1.5rem;
  }

  &__folder {
    @include nav-btn;
    padding: 1rem 0;
    // border-bottom: 1px solid colors.$secondary-gray;
    width: 14rem;
    text-align: left;
  }

  &__projects {
    max-height: 80vh;
    margin-left: 1rem;
    width: 100%;
    flex: 1;
    min-width: 0;
    // padding: 0 15rem;

    /* allow cards to take full width */
    @include flex(column, flex-start, stretch);
    overflow: scroll;
  }
}