@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/font-mixins" as *;
@use "../../styles/partials/colors";

.color-select {
  @include flex(column);
  padding: 1rem;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-lg);
  border: 1px solid transparent;
  background: var(--color-surface);

  &:hover {
    border-color: var(--color-accent);
  }

  &__color {
    min-width: 10rem;
    min-height: 10rem;
    height: 100%;
    width: 100%;
    border-radius: var(--radius-lg);
  }

  &__container {
    margin-top: 1rem;
    width: 100%;
    @include flex(row, space-between);
  }

  &__input {
    background: none;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    padding: 0.15rem;
  }

  &__text-input {
    background-color: transparent;
    outline: none;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    width: 50%;
    font-size: 1rem;
    padding: 0.5rem 0.6rem;

    &:focus {
      border-color: colors.$primary-main;
      box-shadow: 0 0 0 3px var(--color-accent-soft);
    }
  }
}