@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/font-mixins" as *;
@use "../../styles/partials/colors";

.explore-main {
  @include flex(row, space-between, flex-start);
  max-height: 100%;
  width: 100%;
  gap: 1rem;
}

.explore-nav {
  @include flex(column, flex-start, flex-start);
  background-color: colors.$primary-light;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  height: 80vh;
  padding: 1rem 1.5rem;
}

.explore-boards {
  flex: 1;
  max-height: 80vh;
  margin-left: 1rem;
  width: 100%;
  min-width: 0;
  @include flex(column, flex-start, stretch);
  overflow: scroll;
}