@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/font-mixins" as *;
@use "../../styles/partials/colors";

.modal {
  width: 50rem;
  background: colors.$primary-light;
  @include flex(column, center, flex-start);
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-border);

  &__title {
    @include section-header;
    font-size: 2rem;
    margin-bottom: 0.2rem;
  }

  &__paragraph {
    @include body;
    margin-bottom: 1rem;
    color: colors.$secondary-gray;
  }
}

.url-form {
  @include flex(column);
  width: 100%;

  &__input {
    padding: 0.75rem 0.9rem;
    @include text-input;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    background-color: var(--color-surface);
    margin-bottom: 1rem;
    width: 100%;

    &:focus {
      outline: none;
      border-color: colors.$primary-main;
      box-shadow: 0 0 0 3px var(--color-accent-soft);
    }
  }

  &__btn {
    @include primary-btn;
    @include cta-btn;
    padding: 0.6rem 1rem;
    margin-top: 1rem;
    align-self: flex-start;
    border-radius: var(--radius-lg);
  }
}