@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/font-mixins" as *;
@use "../../styles/partials/colors";

.form-wrapper {
  background-color: colors.$primary-light;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  padding: 1.25rem;
  width: min(24rem, 92vw);
}

.change-form {
  margin-top: 1.5rem;
  @include secondary-btn;
  @include cta-underline;
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.form {
  &__btn {
    margin-top: 2.5rem;
    padding: 0.7rem 1.1rem;
    @include primary-btn;
    @include cta-btn;
    border: none;
    width: 100%;
    justify-content: center;
  }

  &--login {
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease-out;
  }

  &--register {
    height: 6rem;
    transition: height 0.3s ease-out;
  }
}