@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/font-mixins" as *;
@use "../../styles/partials/colors";

.homepage {
  @include flex(row, space-between);
  padding: 0 2rem;
  height: 100vh;
  /* Flat: remove ambient gradients */
  background: var(--color-bg);

  &__logo-container {
    @include flex(column, space-between, flex-start);
    height: 17rem;
    padding: 1.25rem;
    border-radius: var(--radius-xl);
    background: var(--color-surface);
    border: 1px solid var(--color-border);
  }

  &__img {
    width: 20rem;
  }

  &__descr {
    @include section-header;
    color: colors.$primary-main;
    margin-top: 0.5rem;

    &--hidden {
      display: none;
    }
  }
}